h1{
    color:#f0ed2c;
    font-family: 'Press Start 2P',sans-serif;
    font-size:larger;
    margin-left: 5% ;
    font-size: 27px ;
    text-shadow: 0 0 6px purple, 0 0 10px violet;
}

.intro {
    font-family:'Press Start 2P' ;
    color: #e4e4e7;
    margin-left: 1% ;
    font-size: 13px;
    text-shadow: 0 0 3px purple, 0 0 5px violet;
}

ul{
    font-family: 'Press Start 2P';
    color: #e4e4e7;
    text-shadow: 0 0 3px purple, 0 0 5px violet;

}

li {
    color: #a78bfa;
    line-height: 40px;
    margin-left: 32%;
}

a:visited { 
    color: #a78bfa;

}

body{ 
    background-color: #2b1f37;
    padding-top: 20%;
    background-image: url('giphy.gif');    
    margin: auto; 
}

.boxed {
    border: 7px solid rgb(201, 123, 245);
    width: 30%;
    padding: 2%;
    margin: auto;
    margin-left: 29%;
    margin-right: 29%;
    background-color: black;
    padding-left: 5%;
}

