h1{
    color:#e4e4e7;
    font-family: 'Press Start 2P',sans-serif;
    font-size:larger;
    margin-left: 5% ;
    font-size: 27px ;
}

.intro {
    font-family:'Press Start 2P' ;
    color: #e4e4e7;
    margin-left: 2% ;
    font-size: 13px;
}

ul{
    font-family: 'Press Start 2P';
    color: #e4e4e7;

}

li {
    color: #a78bfa;
    line-height: 40px;
    margin-left: 32%;
}

a:visited { 
    color: #a78bfa;

}

body{ 
    background-color: #2b1f37;
    padding-top: 20%;
    background-image: url('giphy.gif');
    margin: auto;
}

.boxed {
    border: 7px solid rgb(201, 123, 245);
    width: 30%;
    padding: 2%;
    margin: auto;
    margin-left: 29%;
    margin-right: 29%;
    background-color: black;
    padding-left: 5%;
}