
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/home.css' %}"/>

<img src="giphy.gif" onerror="this.style.display='none'"/>
<body>
    <div class="boxed">
    <div class="page_title">
            <h1>🎮 Video Game Consoles 👾</h1>
    </div>
    <div class="intro">
         Come and explore the evolution of video game with us...
    </div>
        <ul>
            <li><a href="archive/">Archives</a> </li>
            <li> <a href="exhibit/"> Exhibits </a></li>
            <li> About Us </li>
        </ul>
    </div>
</body>
{% endblock %}